# Cache
__pycache__/
.mypy_cache/
.pytest_cache/
.tox/

# Environments
.venv/
poetry.lock

# Build artifacts
dist/

# Coverage artifacts
.coverage
.coverage.*
coverage.xml

# Configuration files & IDE settings
.python-version
.vscode/
